node_modules
node_modules
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/trace
.next/cache/webpack/client-development/19.pack
.next/cache/webpack/client-development/23.pack
.next/cache/webpack/client-development/25.pack
.next/cache/webpack/client-development/27.pack
.next/cache/webpack/client-development/29.pack
.next/cache/webpack/client-development/30.pack
.next/cache/webpack/client-development/31.pack
.next/cache/webpack/client-development/32.pack
.next/cache/webpack/client-development/33.pack
.next/cache/webpack/client-development/34.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/25.pack
.next/cache/webpack/server-development/26.pack
.next/cache/webpack/server-development/27.pack
.next/cache/webpack/server-development/28.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/_error.js
.next/server/pages-manifest.json
.next/server/pages/customers.js
.next/server/pages/index.js
.next/server/pages/login.js
.next/static/chunks/_error.js
.next/static/chunks/webpack.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/customers.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/login.js
.next/static/development/_buildManifest.js
.next/static/webpack/3e144df1b7ec3b19.webpack.hot-update.json
.next/static/webpack/6fc074dfbd3aa530.webpack.hot-update.json
.next/static/webpack/f293b5d161247a8b.webpack.hot-update.json
.next/static/webpack/webpack.3e144df1b7ec3b19.hot-update.js
.next/static/webpack/webpack.006ca5386f38417e.hot-update.js
.next/static/webpack/webpack.6fc074dfbd3aa530.hot-update.js
.next/static/webpack/webpack.f293b5d161247a8b.hot-update.js
